<html>
<head>
	<title>Twitter</title>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.1.min.js"></script>
<script type="text/javascript">
</script>
<style type="text/css">
#header{
	width: 1349px;
	height: 50px;
	background-color: #252525;
}
.content{
	width: 1349px;
	height: 545px;
	background-image: url({{ STATIC_URL }}fondo.jpg);
}
.tablee{
	background-color: white;
}
.logo{
	background: url({{ STATIC_URL }}logoblanco.png) no-repeat;
}
.img1{
	background: url({{ STATIC_URL }}nocturno.png) no-repeat;
}
.inciarsesion{
	background-image: url({{ STATIC_URL }}iniciar.png) no-repeat;
	width: 106px;
	height: ;
}
</style>
</head>
<body>
	<table border="1" align="center" width="800" class="content">

	<div id="header" class="logo"></div>
		<tr> </tr> 
		<tr> 
			<td width="230" height="330"> </td> 
			<td width="500" class="img1"></td> 
			<td width="302"> 
<table border="1" >
<tr> <td width="302" height="109"> 
<input type='image' name='boton' value='' style='width:106px; height:30px; background-image: url({{ STATIC_URL }}iniciar.png); no-repeat;'>
</td> </tr> 
<tr> <td width="302" height="207"> </td> </tr> 
</table>
			</td> 
			<td> </td> 
		</tr> 
		<tr> </tr> 
    </table>
</body>
</html>