<html>
<head>
	<title>Twitter</title>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.1.min.js"></script>
<script type="text/javascript">
</script>
<style type="text/css">
#header{
	width: 1349px;
	height: 40px;
	background-color: #252525;
}
.content{
	width: 1349px;
	height: 545px;
	background-image: url({{ STATIC_URL }}fondo.jpg);
}
.tablee{
	background-color: white;
}
.logo{
	background: url({{ STATIC_URL }}logoblanco.png) no-repeat;
}
.img1{
	background: url({{ STATIC_URL }}nocturno.png) no-repeat;
}
</style>
</head>
<body>
	<table border="0" align="center" width="800" class="content">

	<div id="header" class="logo"></div>
		<tr> </tr> 
		<tr> 
		<td> </td> 
		<td class="img1">
		
		 </td> 
		<td> </td> 
		<td> </td> 
		</tr> 
		<tr> </tr> 
    </table>
</body>
</html>