<html>
<head>
<title>Reset Password</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
<script type="text/javascript">
</script>
</head>
<body>
<!--Header Begin-->
<div id="header">
  <div class="center">
    <div id="logo"><a href="{% url home %}">Calliope</a></div>
    <!--Menu Begin-->
    <div id="menu">
      <ul>
        <li><a class="active" href="{% url home %}"><span>Home</span></a></li>
        <li> {% if user.is_authenticated %} <a href="/user/logout"><span>Logout</span></a> {% else %} <a href="/user/login"><span>Login</span></a> {% endif %}</li>
      </ul>
    </div>
    <!--Menu END-->
  </div>
</div>
<!--Header END-->
<!--Toprow Begin-->
<div id="toprow">
  <div class="center">
    <div id="cubershadow">

<table border="0" align="center">
<tr><td height="55px"></td></tr>
<tr>
<td>
<div><p>      </p></div>
<div><p>      </p></div>
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}

<h1>{% trans 'Password reset complete' %}</h1>

<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

{% endblock %}
</td></tr>
</table>
  </div>
</div>
<!--Toprow END-->
<!--MiddleRow Begin-->
<div id="midrow">
  <div id="container">

  </div>
</div>
<!--MiddleRow END-->
<!--BottomRow Begin-->
<div id="bottomrow">
  <div class="textbox">
    </div>
  
</div>
<!--BottomRow END-->
<!--Footer Begin-->
<div id="footer">
  <div class="foot"> <span>Created by David Serrano Resendiz</span> </div>
</div>
<!--Footer END-->
</body>
</html>
